@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Vujahday+Script&display=swap');

/* my mobile dimensions are 412(width) x 892(height)*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #262840;*/
}
body {
	background-color:#000;
	min-height: 200vh;
}
header .logo {
    position: relative;
    bottom: 12px;
    font-weight: 700;
    /*color: #fff;*/
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

img {
    position: relative;
    /* width: 1817px; */
    height: 48px;
	width: 100%;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
	color: #434be7;
}

header ul li a:hover {
	color: #cb2bd6;
}

header .logo:hover{
	color: #cb2bd6;
}

li, a, button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #434be7;
}

button {
	padding: 9px 25px;
	background-color: rgba(67,75,231,0.6);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(67,75,231,0.4);
}

header {
	background-color: #262840;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100000;
	padding-top: 10px;
	transition: 0.6s;
}

.container {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
}
.theb {
	background: url("img/img1.jpg");
	width: 100%;
	height: 100vh;
	position: relative;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}

.theb h4 {
	color: white;
	text-align: center;
	padding: 0px;
	font-family: "Vujahday", sans-serif;
	margin: 20px 0;
	background-color: rgba(0,0,0,0);
	position: relative;
	top: 50px;
}

.burger{
	top: 5px;
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #434be7;
	margin: 5px;
	transition: all 0.3s ease;
}

@media only screen and (max-width:1023px) {
	body{
		overflow-x: hidden;
	}
	
	.nav__links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	
	.nav__links li {
		opacity: 1;
		justify-content: space-between;
	}

	img {
		position: relative;
		left: 10px;
		height: 74px;
	}

	.container {
		height: 56px;
		padding: 10px;
	}

	header ul {
		display: none;
	}
	
	header {
		width: 980px;
		padding: 50px 50px;
	}

	.left-corner {
		padding: 0px 16px;
	}
	/*.theb {
		height: 800px;
	}
	
	.theb {
		height: 892px;
		width: 412px;
		/*background-image: url("./img/img2.jpg");
	}
	
    .theb h4{
		display: none;
	}*/
			
	.burger {
		float: right;
		display: block;
		height: 44px;
		width: 50px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.burger .line1 {
<<<<<<< HEAD
		width: 44px;
		margin: 10px;
		height: 5px;
	}

	.burger .line2 {
		width: 44px;
		margin: 10px;
		height: 5px;
	}

	.burger .line3 {
		width: 44px;
		margin: 10px;
		height: 5px;
=======
		width: 100%;
		margin: 3px;
	}

	.burger .line2 {
		width: 100%;
		margin: 3px;
	}

	.burger .line3 {
		width: 100%;
		margin: 3px;
>>>>>>> e2e52f5953650f72ec1515f93f17393e2aa314a5
	}


	/*.nav__active {
		transform: translateX(0%);
	}
}*/
	
/*@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}*/
}
