@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Vujahday+Script&display=swap');

/* my mobile dimensions are 412(width) x 892(height)*/
* :after, :before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #262840;*/
}
body {
	background-color:#000;
	min-height: 200vh;
}
header .logo {
    position: relative;
    bottom: 12px;
    transition: 0.6s;
	z-index: 100000;
}

img {
    position: relative;
    /* width: 1817px; */
    height: 48px;
	width: 100%;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
	color: #434be7;
}

header ul li a:hover {
	color: #cb2bd6;
}

header .logo:hover{
	color: #cb2bd6;
}

li, a, button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #434be7;
}

header {
	background-color: #262840;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100000;
	padding-top: 10px;
	transition: 0.6s;
}

.container {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
}

.theb {
	background: url("img/img1.jpg");
	/*width: 100%;*/
	height: 100vh;
	position: relative;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}

.theb h4 {
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 50px;
	font-family: "Courier New", sans-serif;
	letter-spacing: 2px;
	margin: 20px 0;
	color: #282e8d;
	position: relative;
	top: 30%;
}

.burger{
	/*top: 5px;*/
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #434be7;
	margin: 5px;
	/*transition: all 0.3s ease;*/
}

@media only screen and (max-width:1023px) {
	body{
		overflow-x: hidden;
	}
	
	.nav__links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		background-color: #262840;
	}
	
	.nav__links li {
		opacity: 1;
	}

	img {
		position: relative;
		left: 10px;
		height: 100%;
		width: 100%;
	}

	.container {
		width: 150%;
		height: 86px;
		padding: 0px 0px 0px 0px;
		/*padding: 10px;*/
	}

	header ul {
		display: none;
	}
	
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 8%;
		/*padding: 50px 0.2%;*/
	}

	.left-corner {
		height: 50%;
		padding: 0px 5px;
	}

	.theb h4 {
		color: white;
		text-align: center;
		padding: 0px;
		font-size: 50px;
		font-family: "Courier New", sans-serif;
		letter-spacing: 2px;
		margin: 20px 0;
		color: #282e8dff;
		position: relative;
		top: 30%;
	}
	
	.burger {
		float: right;
		display: block;
		height: 50px;
		width: 35px;
		/*margin-top: 10px;
		margin-bottom: 1px;*/
		padding: 10px 20px 0px 0px;
	}

	.burger .line1 {
		width: 98%;
		margin: 5px 0px;
		height: 5px;
		color: #434be7;
	}

	.burger .line2 {
		width: 98%;
		margin: 5px 0px;
		height: 5px;
		color: #434be7;
	}

	.burger .line3 {
		width: 98%;
		margin: 5px 0px;
		height: 5px;
		color: #434be7;
	}


	.nav__active {
		width: 40%;
		height: 92vh;
		top: 8vh;
		transform: translateX(0%);
	}
}
	
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,9px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-9px);
}
